.content {
  padding-top: 240px;
  padding-bottom: 440px;
  margin-bottom: 100px;
  background: url("assets/background.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-origin: border-box;
}

.content div {
  background-color: #cecece;
  width: 540px;
}

.content div span {
  color: #d44d51;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.content div h2 {
  color: var(--Colour-Main-Blue-900, #091133);
  font-feature-settings: "clig" off, "liga" off;

  /* Medium 50 */
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px; /* 132% */
  letter-spacing: 1px;
}

.header {
  display: flex;
  justify-content: space-around;
}

ul {
  color: #cd313e;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

button {
  width: 189.131px;
  height: 36px;
  flex-shrink: 0;
  background-color: #cd313e;
  color: #fff;
}
